@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
	padding: 0;
	margin: 0;
	font-family: Montserrat;
}
body{
	background-color: #DEDEDE;
}
.button{
	border-radius: 10px;
	font-family: Montserrat;
}
header{
	background-color: #75903a;
}
.header-bookshelf{
	background-color: #75903a;
}

.container{
	min-height: calc(100vh - 310px);
}

/*Главный хедер*/

.navbar{
	margin: 0 50px;
	/*padding-top: 40px;*/
	background-color: #75903a;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-brand{
	margin-right: auto;
	width:18%
}

.navbar-menu{
	display: flex;
	justify-content: space-evenly;
	width:40%;
}

.navbar-end{
	justify-content: flex-end;
	margin-left:auto;
	align-items: stretch;
	display: flex;
	width: 25%;
}
.navbar-menu a{
	font-size: 22px;
	text-decoration:none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.8);
	display: block;
	padding-bottom: 5px;

}
.navbar-item{
	font-weight: 500;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.8);
	font-family: Montserrat;
	cursor: pointer;
	align-items: center;
	display: flex;
}

.buttons{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.button.is-primary{
	background-color: rgba(46, 50, 4, 0.7);
	padding: 5px 15px;
	margin-right: 10px;
	color: #e3e9d3;
	text-decoration: none;
}
.button.is-light{
	color:#e3e9d3;
	text-decoration: none;
}

.button.is-light:hover{
	text-decoration: underline;
}

.button.is-primary:hover{
	background-color: rgba(46, 50, 4, 0.55);
}


/*Второй хедер*/

.title{
	text-align: center;
	width: 70%;
	margin: 0 auto 0 auto;
	padding-top: 70px;
}

.title h1{
	text-shadow: 0px 2px 4px #484848;
	font-family: "Noto Sans";
	color:rgba(255, 255, 255, 0.8);
	font-size: 36px;
}

.title h3{
	color:rgba(255, 255, 255, 0.8);
	font-family: Montserrat;
	margin-top:20px;
	font-weight: 100;
}

.header-search{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 80px auto 0 auto;
	width: 50%;
}

.header-search>.header-search-wrapper.header-input-wrapper{
	flex-grow: 1;
	flex-shrink: 1;
}

.header-search-wrapper{
	margin-left:25px;
	font-family: Montserrat;
	margin-bottom: 70px;
}

.header-search-input{
	box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,0.5);
	max-width: 100%;
	width: 100%;
	padding: 10px 0px 10px 15px;
	border-radius: 10px;
	border:none;
}

.button.header-is-info{
	background-color: #2E3204;
	background-color: rgba(46, 50, 4, 0.7);
	border-color: transparent;
	color: rgba(255, 255, 255, 0.8);
	padding: 8px 10px;
	font-family: Montserrat;
	font-size: 14px;
	cursor: pointer;
}

footer{
	height: 180px;
	background-color: #75903a;
	display: flex;
	justify-content: center;
	/*включить при подключении всего*/
	/*margin-top:-180px;*/
}

.footer-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer-copyright{
	margin-bottom: 40px;
	text-align: center;
	color: rgb(7, 14, 1);
}

.footer-links{
	display: flex;
	justify-content: space-evenly;
	width: 40vw;
	flex-wrap: wrap;
}

.footer-link{
	display: block;
	color: rgba(255, 255, 255, 0.8);
}