.book-detail-main{
	width: 95%;
	margin: 70px auto 200px auto;
	background-color: #ededed;
	border-radius: 10px;
	display: flex;
	min-height: calc(100vh);
	flex-direction: column;

	align-items: center;
}
/*в мобилке добавить flex-wrap:wrap*/
.book-detail-card{
	display: flex;
	margin:50px 100px 0px 100px;
	padding-bottom: 100px;
}

.book-detail-card-image{
	margin-right: 100px;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.book-detail-card-image img{
	border-radius: 10px;
}

.book-detail-card-buttons{
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin:20px 0 40px 0;
}

.book-detail-card button{
	border-radius: 10px;
	cursor: pointer;
}

.book-detail-card-buttons button{
	padding: 10px 15px;
}


.book-detail-card-description{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.book-detail-card-description-name{
	font-size: 36px;
	font-weight: 600;
	/*применить везде*/
	color: #2e2e2e;
	margin-bottom: 30px;
}

.book-detail-card-description-author{
	font-size:22px;
	margin-bottom: 20px;
}

.book-detail-card-description-overview{
	border-left: 1px solid #000;
	padding-left: 10px;
	word-wrap: break-word;
	margin-bottom: 40px;
}

.book-detail-card-description-genres{
	display: flex;
	width: 100%;
	align-items: baseline;
}

.book-detail-card-description-genres-links{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.book-detail-card-description-genres-links a, .book-detail-edit-link{
	margin-right: 15px;
	margin-bottom: 20px;
	padding: 5px 10px;
	border: 1px solid #DDDDDD;
	border-radius: 10px;
	color:#000;
	background-color: #DDDDDD;
	text-decoration: none;
}
.book-detail-card-rating {
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.book-detail-card-rating-title
{
	font-size: 25px;
	margin-right: 10px;
	margin-bottom: 30px;
}

.r-boxes {
	display: flex;
	flex-direction: row-reverse;
}
.rating-num, .rating-count{
	font-size: 25px;
	margin-left: 10px;
}

.r-box-1, .r-box-2, .r-box-3, .r-box-4, .r-box-5, .r-box-lu-1, .r-box-lu-2, .r-box-lu-3, .r-box-lu-4, .r-box-lu-5 {
	width: 25px;
	height: 25px;
	background: #f2f2f2;
	margin-right: 10px;
	border: rgb(171, 171, 171) 1px solid;
	border-radius: 10px;
}

.r-box-1-active, .r-box-2-active, .r-box-3-active,
.r-box-4-active, .r-box-5-active,
.r-box-lu-1-active, .r-box-lu-2-active, .r-box-lu-3-active,
.r-box-lu-4-active, .r-box-lu-5-active{
	width: 25px;
	height: 25px;
	background: #ffe349;
	margin-right: 10px;
	border: rgb(171, 171, 171) 1px solid;
	border-radius: 10px;
}

.r-box-lu-1:hover {
	background: #ffe349;
	transition: 0.5s;
}

.r-box-lu-2:hover, .r-box-lu-2:hover + .r-box-lu-1 {
	background: #ffe349;
	transition: 0.5s;
}

.r-box-lu-3:hover, .r-box-lu-3:hover + .r-box-lu-2,
.r-box-lu-3:hover + .r-box-lu-2 + .r-box-lu-1 {
	background: #ffe349;
	transition: 0.5s;
}

.r-box-lu-4:hover, .r-box-lu-4:hover + .r-box-lu-3,
.r-box-lu-4:hover + .r-box-lu-3 + .r-box-lu-2,
.r-box-lu-4:hover + .r-box-lu-3 + .r-box-lu-2 + .r-box-lu-1{
	background: #ffe349;
	transition: 0.5s;
}

.r-box-lu-5:hover, .r-box-lu-5:hover + .r-box-lu-4,
.r-box-lu-5:hover + .r-box-lu-4 + .r-box-lu-3,
.r-box-lu-5:hover + .r-box-lu-4 + .r-box-lu-3 + .r-box-lu-2,
.r-box-lu-5:hover + .r-box-lu-4 + .r-box-lu-3 + .r-box-lu-2 + .r-box-lu-1{
	background: #ffe349;
	transition: 0.5s;
}

.list-user-bookshelf{
	width:400px;
	height: 200px;
	padding: 40px;
	border-radius:10px;
	overflow-y: scroll;
	overflow-x: clip;
	position:absolute;
	top:500px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: #dedede;
}
.user-bookshelf{
	margin: 20px 0;
	display: flex;
	align-items: center;
}
.user-bookshelf p{
	margin-right: 20px;
	font-size: 20px;
	width: 50%;
}
.user-bookshelf button{
	padding: 10px 15px;
}
.addedBook{
	background-color: #84c25c;
}
.notAddedBook{
	background-color: #ededed;
}
