.bookshelf-edit-tags-list{
	display: flex;
	justify-content: space-evenly;
}



.bookshelf-edit-books{
	width:90%;
	margin: 50px auto 200px auto;
	padding: 40px;
}

.bookshelf-edit-comment{
	width: 80%;
	padding: 10px 10px 80px 10px;
	border-radius: 10px;
}

.bookshelf-edit-descr{
	height: 50px;
	width:80%;
	border-radius: 10px;
	padding: 10px;
}

.bookshelf-edit-books button{
	padding: 10px 30px;
	font-size: 16px;
	background-color: #81b95e;
	border: none;
	cursor: pointer;
	width: 200px;
	margin: 50px auto;
	border-radius: 10px;
}

@media screen and (max-width: 660px){
	html {
		-webkit-text-size-adjust: none;
		font-size: 90%;
	}
	.user-bookshelf-buttons {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
	}
	.bookshelf-edit-comment{
		margin-bottom: 50px;
		width:90%;
	}
	.user-bookshelf-buttons a{
		margin-right: 40px;
	}
	.user-bookshelf-description p{
		text-align: center;
	}
	.bookshelf-edit-books {
		width: inherit;
	}
}